body {
    font-family: 'Balthazar', sans-serif;
    font-size: 18px;

}

h2.title {
    text-align: center;
    font-family: 'New Rocker';
    font-size: 50px;
    margin-bottom: 30px;
}

div#groups {
    height: 300px;
}

.footer {
    text-align: center;
}

.btn {
    font-family: 'Nova Square';
}